@font-face{
    font-family: 'SimSun';
      src: url('/simsunb.ttf') format('truetype');
}

body {
	margin-top: 0px;
	font-family: 'SimSun';
	background-color: #000000;
    color: #ffffff;
}

.button {
	text-align: center;
	display: flex;
	justify-content: center;
}